body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Helvetica, sans-serif;
  font-size: 120%;
  background-color: #93FFE8
}

header {
  background-color: #7FFFD4;
  text-align: center;
}

main { 
  display: grid;
  background-color: #20B2AA; 
  font-size: 100%;

}
footer {
  font-style: italic;
  font-size: 85%;
}

h1 {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #0000CD;
}
h2 {
  text-align: center;
}
p {
  line-height: 110%;
}

#navpic {
  width: 35%;
  top: 20px;
  border: 3px solid #000000;
  text-align: right;
  display:inline-block;
}

nav {
  display: none;
}

.navdrop {
  position: relative;
  display: inline-block;
}

.navdown {
  background-color :#0000A0;
  color: #FFFFFF;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.navlist {
  display: none;
  position: absolute;
  background-color: #357EC7;
  min-width: 50px;
  box-shadow: #7FFFD4;
  z-index: 1;
}

.navlist a {
  color: #000000;
  padding: 16px 16px;
  text-decoration: none;
  display: block;
}

.navlist a:hover {
  background-color: #ddd; 

}

.navdrop:hover .navlist {
  display: block;
}

.navlist:hover .navdown {
  background-color: #7FFFD4;
}


.fa-eye {
  font-size: 55px;
  margin: auto;
  color: #0000CD;
  
}

.fa-fill-drip {
  font-size: 30px;
  margin: auto;
  color: #2B65EC;

}

.fa-palette {
  font-size: 30px;
  margin: auto;
  color: #2B65EC;

}

a {
  color: #0000A0;
}

.picgrid img{
  margin: auto;
  border: solid 6px #357EC7;
  width: 50%;

}

figcaption {
  display: none;
  
}

@media screen and (min-width: 800px) {

nav {
  display: block;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  justify-content: space-around;
  text-decoration: none;
  width: 80%;
  text-align: center;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
} 
.navdrop {
  display: none;
 } 

figcaption {
    display: block;
    color:#000000;
  }

  div {
  display: grid;
  grid-template-columns: 45% 45%;

  }



}

