body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Helvetica, sans-serif;
  font-size: 120%;
  background-color: #93FFE8
}

header {
  background-color: #7FFFD4;
  text-align: center;
}

main { 
  display: grid;
  background-color: #20B2AA; 
  font-size: 100%;

}
footer {
  font-style: italic;
  font-size: 85%;
}

h1 {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #0000CD;
}
h2 {
  text-align: center;
}
p {
  line-height: 110%;
}

#navpic {
  width: 35%;
  top: 20px;
  border: 3px solid #000000;
  text-align: right;
  display:inline-block;
}

nav {
  display: none;
}

.navdrop {
  position: relative;
  display: inline-block;
}

.navdown {
  background-color :#0000A0;
  color: #FFFFFF;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.navlist {
  display: none;
  position: absolute;
  background-color: #357EC7;
  min-width: 50px;
  box-shadow: #7FFFD4;
  z-index: 1;
}

.navlist a {
  color: #000000;
  padding: 16px 16px;
  text-decoration: none;
  display: block;
}

.navlist a:hover {
  background-color: #93FFE8; 

}

.navdrop:hover .navlist {
  display: block;
}

.navlist:hover .navdown {
  background-color: #7FFFD4;
}


.fa-eye {
  font-size: 55px;
  margin: auto;
  color: #0000CD;
  
}

.fa-fill-drip {
  font-size: 30px;
  margin: auto;
  color: #2B65EC;

}

.fa-palette {
  font-size: 30px;
  margin: auto;
  color: #2B65EC;

}

a {
  color: #0000A0;
}

.picgrid {
  display: grid;
  width: 100%;
}

.picgrid img{
  border: solid 6px #357EC7;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figcaption {
  display: none;
  
}

@media screen and (min-width: 800px) {

nav {
  display: block;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  justify-content: space-around;
  text-decoration: none;
  width: 80%;
  text-align: center;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
} 
.navdrop {
  display: none;
 } 

figcaption {
    display: block;
    color:#000000;
  }

.picgrid {
  display: grid;
  grid-template-columns: 45% 45%;

  }

}

@media screen and (min-width: 1080px) {

  .picgrid {
    display: grid;
    grid-template-columns: 30% 30% 30%;
  }

 .picgrid figure:nth-child(2n) img {
      border: 6px ridge #0000CD;
    }

}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #810541;
  }
  header {
    background-color: #151B54;
  }
  main {
    background-color: #191970;
  }
  h1 {
    color: #838996;
  }
  h2{
    color: #757575
  }
  #navpic {
    border: #BCC6CC;
  }
  .navdown {
    background-color: #737CA1;
  }
  .navlist {
    background-color: #00008B;
  }
  .navlist a {
    color: #FFDF00;
  }
  .navlist a:hover {
    background-color: #040720;
  }
  .navlist:hover .navdown {
    background-color: #29465B;
  }
  .fa-eye {
    color: #800080;
  }
  .fa-fill-drip {
    color: #800080;
  }
  .fa-palette {
    color: #800080;
  }
  a {
    color: #5865F2;
  }
  .picgrid img {
    border: 6px solid #DAA520;
  }
  figcaption {
    color: #C0C0C0;
  }
  p {
    color: #C0C0C0;
  }

}

