body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Helvetica, sans-serif;
  font-size: 120%;
  background-color: #93FFE8
}

header {
  background-color: #7FFFD4;
  text-align: center;
}

main { 
  display: inline-block;
  background-color: #20B2AA; 
  font-size: 100%;

}
footer {
  font-style: italic;
  font-size: 85%;
}

h1 {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #0000CD;
}

p {
  line-height: 110%;
}

nav {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: space-around;
    text-decoration: none;
    width: 80%;
    text-align: center;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

#navpic {
  width: 50%;
  top: 20px;
  border: 3px solid #000000;
  text-align: right;
  display:inline-block;
}

.icon::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
 .icon-solid::before {
  font: var(--fa-font-solid);
 }

 .icon-droplet::before {
  content: "\f043"
 }

 .droplet-icon-list {
  align-items: center;
 }