body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Helvetica, sans-serif;
  font-size: 120%;
  background-color: #93FFE8
}

header {
  background-color: #7FFFD4;
  text-align: center;
}

main { 
  display: grid;
  background-color: #20B2AA; 
  font-size: 100%;

}
footer {
  font-style: italic;
  font-size: 85%;
}

h1 {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #0000CD;
}
h2 {
  text-align: center;
}
p {
  line-height: 110%;
}

nav {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: space-around;
    text-decoration: none;
    width: 80%;
    text-align: center;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

#navpic {
  width: 35%;
  top: 20px;
  border: 3px solid #000000;
  text-align: right;
  display:inline-block;
}

.fa-eye {
  font-size: 55px;
  margin: auto;
  color: #0000CD;
  
}

.fa-fill-drip {
  font-size: 30px;
  margin: auto;
  color: #2B65EC;

}

.fa-palette {
  font-size: 30px;
  margin: auto;
  color: #2B65EC;

}

a {
  color: #0000A0;
}

div {
  display: grid;
  grid-template-columns: 45% 45%;

}

.picgrid img{
  border: solid 6px #357EC7;
  width: 100%;

}

figcaption {
 color:#000000;
}